:root{
	--main-text-color: #d6d9fd;
	--header-text-color: #979fff;
	--header-text-lightcolor: #d6d9fd;
	--main-line-color: #eeeeee;
	--subtle-line: #333333;
}
*{
	margin: 0;
	padding: 0;
	text-decoration:none;
}
body{
	background-color: #222222;
	font-family: 'Lato', sans-serif;
	color: var(--main-text-color);
}
header{
	color: var(--header-text-color);
	/*border-bottom: 1px solid var(--main-line-color);*/
	padding: 2px 10px 10px;
	text-align: right;
}
header a{
	color: var(--header-text-color);
}
header #logo{
	/*padding: 5px 20px;*/
	text-align: left;
}
header #logo h1{
	font-family: 'Calibri';
	font-size: 1.5rem;
}
header #logo h1 span{
	font-family: 'Luckiest Guy', cursive;
	font-size: 4rem;
}
header #zegar{
	display: inline-block;
	padding: 3px 15px 0px;
	font-size: .7rem;	
	color: var(--header-text-lightcolor);
}
header #teraz{
	display: inline-block;
	padding: 3px 15px 0px;
	font-size: .8rem;
	color: var(--header-text-lightcolor);
	letter-spacing: 3px;
	font-weight: bold;
}
header div[id^="lekcja"]{
	padding: 10px 20px 0px 50px;
	font-size: .8rem;	
	font-weight: bold;
	color: var(--header-text-lightcolor);
	/*letter-spacing: 3px;*/
}
#main-cont{
	width: 95%;
	margin: 0 auto;
}
#przedmioty{
	padding: 10px 0;
	border-top: 1px solid var(--subtle-line);
}
#info{
	padding-top: 10px;
	border-top: 1px solid var(--subtle-line);
}
#przedmioty ul{
	list-style-position: inside;
	list-style: none;
	padding: 0;
}
#przedmioty li a{
	color: var(--main-text-color);
	text-decoration: none;
	display: block;
	border: 2px solid var(--main-line-color);
	border-radius: 5px;
	margin: 5px 0;
	padding: 8px 3px;
}
#przedmioty li a h3{
	font-size: 1rem;
}
#przedmioty li a img{
	display: none;
}
#info table{
	border-collapse: collapse;
}
#info table td{
	border-bottom: 1px solid var(--subtle-line);
	vertical-align: text-top;
}
.war-red{
	color:red;
	font-size: 1.2rem;
}
.war-yel{
	color: gold;
	font-size: 1.2rem;
}

@media screen and (min-width: 600px) {

#przedmioty li a h3{
	text-align: center;
	margin: 10px auto 3px auto;
	letter-spacing: 2px;
}

#przedmioty li a img{
	display: block;
	margin: 0 auto;
}
#przedmioty ul{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-column-gap: 7px;
}
#przedmioty li a{
	height: 150px;
}
}
